/* TwoStrokes.css */
.searchCcontainer {
  display: flex;
  margin: 0 auto;
  background-color: #f9f8fd;
  border-radius: 8px;
  padding: 30px 80px;
}

.topicsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; /* Use gap instead of row-gap */
  background-color: #f9f8fd;
}

.topic {
  padding-bottom: 20px;
  overflow: hidden;
}

.topicName {
  color: #5f3dc4;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 26px;
}

body {
  font-family: "Rubik", sans-serif;
  color: #333;
  background-image: linear-gradient(to right, #e2e2e2, #ffffff);
  padding: 10px 20px;
}
